
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    text-align: center; 
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}


thead th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}


tbody td:first-child {
    background-color: #f2f2f2;
    font-weight: bold;
}


.intervalo {
    background-color: #ffcc00;
    font-weight: bold;
}