body {
    font-family: Arial, Helvetica, sans-serif
}
h1 {
    color: #020a48;
    text-align: center;
}
main {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}
section {
    background-color: #dd9999d9;
    padding: 25px;
    margin-bottom: 25px;
   
    
}
section h2 {
    color: #d81b60;
    padding-left: 10px;

}
